.cart-icon {
    width: 2.5rem;
}

.cart-button {
    display: flex;
    padding: 0.3rem;
    cursor: pointer;
    text-decoration: none;
}

.widgetTotal {
    padding: 0px 8px;
    text-decoration: none;
    color: white;
    background-color: rgb(58, 13, 141);
    border-radius: 20%;
}


