.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5%;
    /* background-color: lightgray; */
    /* background-color: rgba(78, 43, 143, 0.438);     */
}

.itemLink {
    text-decoration: none;
    text-align: center;
}

.itemTitle {
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    color: rgb(78,43,143);
}

.itemStock {
    font-size: small;
    color: gray;
}

