header {
    background-color: rgb(78,43,143);
}

h1 {
    color: white;
    margin: 0px;
    margin-right: 2rem;
}

h1 {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.linkNav {
    padding: 0.2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: small;
    color: white;
    text-decoration: none;
}