.itemCount_container {
    width: fit-content;
    border: 2px solid lightgray;
    border-radius: 20%;
}

.itemCount_objects {
    display: flex;
    /* padding: 20px; */
}

.itemCount_btnMod {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    width: 30px;
    height: 30px;
}

.itemCount_contador {
    margin: 0px 20px;
    font-weight: bold;
    font-size: large;
}
